@import "null.css";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap");
@font-face {
	font-family: "Noto";
	src: url("../fonts/NotoSerif-Bold.woff2") format("woff2"), url("../fonts/NotoSerif-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "JosefinSans";
	src: url("../fonts/JosefinSans-Light.woff2") format("woff2"), url("../fonts/JosefinSans-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "IBM Plex";
	src: url("../fonts/IBMPlexSans-LightItalic.woff2") format("woff2"),
		url("../fonts/IBMPlexSans-LightItalic.woff") format("woff");
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "IBM Plex";
	src: url("../fonts/IBMPlexSans-Regular.woff2") format("woff2"),
		url("../fonts/IBMPlexSans-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "IBM Plex";
	src: url("../fonts/IBMPlexSans-SemiBold.woff2") format("woff2"),
		url("../fonts/IBMPlexSans-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

.main {
	font-family: "Nunito Sans", serif;
	font-size: 16px;
	color: #000;
}
.header {
	font-size: 30px;
	font-weight: 900;
	text-align: center;
}
.menu {
	font-family: "Rubik", sans-serif;
}

.head {
	font-size: 40px;
	text-align: center;
	text-decoration: underline;
	color: brown;
	font-weight: 600;
}
.text-about {
	color: crimson;
	text-indent: 20px;
	line-height: 150%;
}
.main-word {
	color: darkslateblue;
	text-transform: uppercase;
}
h2 {
	font-family: "Noto", serif;
	font-weight: 600;
	font-size: 30px;
	color: gold;
	text-align: center;
	text-shadow: 1px 1px 1px rgb(0, 0, 0, 0.6);
}
.text-history {
	font-family: "JosefinSans", sans-serif;
	line-height: 130%;
}
p span {
	color: blue;
	text-decoration: line-through;
}
.text-description-1 {
	font-family: "IBM Plex", sans-serif;
	font-weight: 300;
	font-size: 20px;
	color: chocolate;
	font-style: italic;
	line-height: 120%;
}
.text-description-2 {
	font-family: "IBM Plex", sans-serif;
	font-weight: 600;
	color: darkcyan;
	line-height: 140%;
}
.text-description-3 {
	font-family: "IBM Plex", sans-serif;
	color: lawngreen;
	line-height: 130%;
}
#kinds {
	text-align: center;
}
.list-chips {
	font-family: "Courier New", Courier, monospace;
	text-align: center;
	line-height: 160%;
	color: tomato;
}
.list-rating {
	font-family: "Roboto", monospace;
	line-height: 140%;
	color: violet;
	font-size: 20px;
}
.footer {
	word-spacing: 20px;
	font-size: 30px;
	text-align: right;
	color: darkgreen;
}
/*======================Макет===========================*/
.page {
	font-family: "Lato", sans-serif;
	font-size: 16px;
	color: #424551;
}
.header-maket {
	font-weight: 900;
	font-size: 46px;
	line-height: 130%;
	color: #1e212c;
}
.text-bold {
	font-weight: 700;
	font-size: 20px;
	line-height: 150%;
	color: #1e212c;
}
.text-regular {
	line-height: 160%;
}
